[Unit]
Description=Python Audio Player Service
After=multi-user.target

[Service]
ExecStart=/usr/bin/python3 /opt/music-scheduler/music-scheduler.py
WorkingDirectory=/opt/music-scheduler/
Restart=on-failure
RestartSec=5s
User=admin
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=music-scheduler


[Install]
WantedBy=multi-user.target