[Unit]
Description=Python Audio Player Service
After=network.target

[Service]
ExecStart=/opt/music-scheduler/music-scheduler.py
WorkingDirectory=/opt/music-scheduler/
Restart=always
User=root
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=music-scheduler


[Install]
WantedBy=multi-user.target
